* {
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.centered {
    max-width: 960px;
    margin: 0px auto;
}

.big-quote-background {
    background-color: #E5E7EB;
}

.top-background,
.footer-background {
    background-color: #1F2937;
}